<div
	class="header">

	<!-- Logo -->
	<div class="header-left">
		<a href="#" class="logo">
			<img src="{{asset("img/logo2.png")}}" width="40" height="40" alt="">
		</a>
	</div>
	<!-- /Logo -->

	<a id="toggle_btn" href="javascript:void(0);">
		<span class="bar-icon">
			<span></span>
			<span></span>
			<span></span>
		</span>
	</a>

	<!-- Header Title -->
	<div class="page-title-box">
		<h3>P-S-E</h3>
	</div>
	<!-- /Header Title -->

	<a id="mobile_btn" class="mobile_btn" href="#sidebar">
		<i class="fa fa-bars"></i>
	</a>

	<!-- Header Menu -->
	<ul class="nav user-menu">

		{% if app.user %}
			<li class="nav-item dropdown has-arrow main-drop">
				<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
					<span>
						{{app.user.username}}
						<span class="status online"></span>
					</span>
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{{path('app_logout')}}">Logout</a>
				</div>
			</li>
		{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_login')}}">Connectez vous</a>
			</li>
		{% endif %}
	</ul>
	<!-- /Header Menu -->

</div>
