{% extends 'base/base.html.twig' %}

{% block title %}Filiere{% endblock %}

{% block body %}
    <div class="bg-primary pt-10 pb-21"></div>
    <div class="container-fluid mt-n22 px-6">
    <div class="row">
        {% include 'components/_page_header.html.twig' with { title : 'Tableau de bord' } %}
    </div>
    <div class="row mt-6 mb-3">
    <div class="col-md-12 col-12">
        <!-- card  -->
        <div class="card">
            <!-- card header  -->
            {% include 'components/_card_title.html.twig' with {
                title: "Les Filieres",
                btn_title: 'Ajouter une filiere',
                path: path('create_filiere')
            } %}

            <!-- table  -->
            <div class="card-body">
                <table id="datatable" class="table table-responsive table-striped">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th class="text-center">Alias</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for filiere in filieres %}
                        <tr>
                            <td>{{ filiere.nom }}</td>
                            <td class="text-center">{{ filiere.alias }}</td>
                            <td class="text-center">
                                <a href="{{ path('update_filiere', {id: filiere.id}) }}"><i class="fa fa-cog"></i></a>
                                <a class="mx-3" href="{{ path('delete_filiere', {id: filiere.id}) }}" onclick="return confirm('Êtes vous sûr de vouloir supprimé?');"><i class="fa fa-trash text-danger"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}