{% extends 'base/base.html.twig' %}

{% block title %}Filiere{% endblock %}

{% block body %}
    <div class="bg-primary pt-10 pb-21"></div>
    <div class="container-fluid mt-n22 px-6">
    <div class="row">
        {% include 'components/_page_header.html.twig' with { title : 'Tableau de bord' } %}
    </div>
    <div class="row mt-6 mb-3">
    <div class="col-md-12 col-12">
        <!-- card  -->
        <div class="card">
            <!-- card header  -->
            {% include 'components/_card_title.html.twig' with {
                title: ">Les Filieres",
                btn_title: 'Ajouter une filiere'
            } %}

            <!-- table  -->
            <div class="card-body">
                <table id="datatable" class="table table-responsive table-striped">
                    <thead>
                    <tr class="text-center">
                        <th>Nom</th>
                        <th>Alias</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for filiere in filieres %}
                        <tr class="text-center">
                            <td>{{ filiere.nom }}</td>
                            <td>{{ filiere.alias }}</td>
                            <td>
                                <i class="fa fa-cog"></i>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ include('admin/infoEtudiant/filiere/includes/_form.html.twig') }}
{% endblock %}