{{ form_start(form) }}
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            {{ form_row(form.content) }}
        </div>
    </div>
</div>
<div class="submit-section d-flex justify-content-end">
    <button class="btn btn-primary submit-btn">Ajouter le message</button>
</div>
{{ form_end(form) }}