{% extends "base/base.html.twig" %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <div class="bg-primary pt-10 pb-21"></div>
    <div class="container-fluid mt-n22 px-6">
        <div class="row">
            {% include 'components/_page_header.html.twig' with { title : 'Cours' } %}
            <cours-pdf />
        </div>
    </div>
{% endblock %}