@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "~dropzone/dist/dropzone.css";
@import "~@mdi/font/css/materialdesignicons.min.css";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.css";
@import "~datatables.net-responsive-bs5/css/responsive.bootstrap5.css";
@import "~select2/dist/css/select2.css";
@import "~izitoast/dist/css/iziToast.css";
@import '~react-toastify/dist/ReactToastify.css';
@import "./styles/scss/theme";
