<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Université Jean Paul 2</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
<div id="db-wrapper">
    <!-- navbar vertical  -->
    {% include "base/includes/sidebar.html.twig" %}
    <!-- page content  -->
    <div id="page-content">
        <!-- Page content -->
        {% include "base/includes/_navbar.html.twig" %}
        {% block body %}

        {% endblock %}
    </div>
    <!-- Back to top button -->
    <button
            type="button"
            class="btn btn-danger"
            id="btn-back-to-top"
    >
        <i class="fas fa-arrow-up"></i>
    </button>
</div>
</body>

{{ encore_entry_script_tags('app') }}
<script>
    {% for label, messages in app.flashes %}
    {% for message in messages %}
    window.notification('{{label}}', '{{ message }}')
    {% endfor %}
    {% endfor %}
</script>
{% block javascripts %}
{% endblock %}
</html>