<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Université Jean Paul 2</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
<div id="db-wrapper" class="toggled">
    <!-- navbar vertical  -->
    {% include "base/includes/sidebar.html.twig" %}
    <!-- page content  -->
    <div id="page-content">
        <!-- Page content -->
        {% include "base/includes/_navbar.html.twig" %}
        {% block body %}

        {% endblock %}
    </div>

</div>
</body>

</html>