{% extends "base/base.html.twig" %}
{% block title %}{{ app.user.username }} {% endblock %}

{% block body %}
    <div class="container-fluid px-6 py-4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <!-- Page header -->
                <div>
                    <div class="border-bottom pb-4 mb-4 ">
                        <div class="mb-2 mb-lg-0">
                            <h3 class="mb-0 fw-bold">Bienvenue sur votre page de profil</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                {% include "profil/_background.html.twig" %}

                <!-- header -->
                {% include "profil/_header.html.twig" %}
            </div>
        </div>
        <!-- content -->
        <div class="py-6">
            <!-- row -->
            <div class="row">
                <!-- About -->
                {% include "profil/_about.html.twig" %}

                <!-- Dernier cours -->
                {% include "profil/_lastCours.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}