<form method="post" action="{{ path('delete_ue', {'id': ue.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimé {{ ue.nom }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ue.id) }}">
    <button class="btn"><i class="fa fa-trash-o m-r-5"></i></button>
</form>