<form method="post" action="{{ path('delete_enseignant', {'id': enseignant.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimé {{ enseignant.nom }} {{ enseignant.prenom  }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ enseignant.id) }}">
    <button class="btn"><i class="fa fa-trash-o m-r-5"></i></button>
</form>