<div class="row">
    <div class="col-xl-3 col-lg-4 col-md-12 col-12">
        <div class="mb-4 mb-lg-0">
            <h4 class="mb-1">Supprimer le compte</h4>
            <p class="mb-0 fs-5 text-muted">Cette operation est irreversible</p>
        </div>

    </div>

    <div class="col-xl-9 col-lg-8 col-md-12 col-12">
        <!-- card -->

        <div class="card mb-6">
            <!-- card body -->
            <div class="card-body">
                <div class="mb-6">
                    <h4 class="mb-1">Zone dangereuse </h4>

                </div>
                <div>
                    <!-- text -->
                    <p>Toutes vos information de compte seront complètement effacé.</p>
                    <a href="#" class="btn btn-danger">Supprimer le compte</a>
                    <p class="small mb-0 mt-3">Ce serai dommage de vous perdre sur cette plateforme.</p>
                </div>
            </div>
        </div>

    </div>
</div>
