<div class="file-sidebar">
    <div class="file-header justify-content-center">
        <span>Projects</span>
        <a href="javascript:void(0);" class="file-side-close"><i class="fa fa-times"></i></a>
    </div>
    <div class="file-pro-list">
        <div class="file-scroll">
            <form class="form" method="get">
                <div class="form-group row">
                    <div class="col-md-10">
                        {% for ue in ues %}
                            <div class="radio mb-2" style="font-size: 1.2em">
                                <label>
                                    <input type="radio" value="{{ ue.nom }}" name="filter"> {{ ue.nom }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="submit-section mt-0">
                    <button class="btn btn-primary submit-btn">Filtrer</button>
                </div>
            </form>
        </div>
    </div>
</div>